<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
        backupGlobals="true"
        bootstrap="./Tests/UnitTestsBootstrap.php"
        verbose="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./Tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
